IControlIT/Web References/WS_GUA_Chamado/WSChamado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="WSChamado" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="WSChamado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WSChamado">
      <s:element name="TodosChamados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPConn_Banco" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pRetorno" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodosChamadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodosChamadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Chamado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPConn_Banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPakage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Chamado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pCorrelationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNumero_Solicitacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEstado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pComentarios" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAtribuido_Para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTipo_Solicitacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTransactionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Consumidor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Ativo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Conglomerado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Plano" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pRetorno" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChamadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChamadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ativo_Chamado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPConn_Banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPakage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Ativo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Ativo_Status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pNr_Ativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNewNr_Ativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNewAreaCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Conglomerado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pPlano_Contrato" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pRetorno" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ativo_ChamadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ativo_ChamadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ativo_Relacionamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPConn_Banco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPakage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Ativo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pId_Consumidor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pDt_Hr_Desativacao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pRetorno" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ativo_RelacionamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ativo_RelacionamentoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TodosChamadosSoapIn">
    <wsdl:part name="parameters" element="tns:TodosChamados" />
  </wsdl:message>
  <wsdl:message name="TodosChamadosSoapOut">
    <wsdl:part name="parameters" element="tns:TodosChamadosResponse" />
  </wsdl:message>
  <wsdl:message name="ChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:Chamado" />
  </wsdl:message>
  <wsdl:message name="ChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:ChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="Ativo_ChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:Ativo_Chamado" />
  </wsdl:message>
  <wsdl:message name="Ativo_ChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:Ativo_ChamadoResponse" />
  </wsdl:message>
  <wsdl:message name="Ativo_RelacionamentoSoapIn">
    <wsdl:part name="parameters" element="tns:Ativo_Relacionamento" />
  </wsdl:message>
  <wsdl:message name="Ativo_RelacionamentoSoapOut">
    <wsdl:part name="parameters" element="tns:Ativo_RelacionamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSChamadoSoap">
    <wsdl:operation name="TodosChamados">
      <wsdl:input message="tns:TodosChamadosSoapIn" />
      <wsdl:output message="tns:TodosChamadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Chamado">
      <wsdl:input message="tns:ChamadoSoapIn" />
      <wsdl:output message="tns:ChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ativo_Chamado">
      <wsdl:input message="tns:Ativo_ChamadoSoapIn" />
      <wsdl:output message="tns:Ativo_ChamadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ativo_Relacionamento">
      <wsdl:input message="tns:Ativo_RelacionamentoSoapIn" />
      <wsdl:output message="tns:Ativo_RelacionamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSChamadoSoap" type="tns:WSChamadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TodosChamados">
      <soap:operation soapAction="WSChamado/TodosChamados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chamado">
      <soap:operation soapAction="WSChamado/Chamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ativo_Chamado">
      <soap:operation soapAction="WSChamado/Ativo_Chamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ativo_Relacionamento">
      <soap:operation soapAction="WSChamado/Ativo_Relacionamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSChamadoSoap12" type="tns:WSChamadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TodosChamados">
      <soap12:operation soapAction="WSChamado/TodosChamados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chamado">
      <soap12:operation soapAction="WSChamado/Chamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ativo_Chamado">
      <soap12:operation soapAction="WSChamado/Ativo_Chamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ativo_Relacionamento">
      <soap12:operation soapAction="WSChamado/Ativo_Relacionamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSChamado">
    <wsdl:port name="WSChamadoSoap" binding="tns:WSChamadoSoap">
      <soap:address location="http://localhost:8080/WSChamado.asmx" />
    </wsdl:port>
    <wsdl:port name="WSChamadoSoap12" binding="tns:WSChamadoSoap12">
      <soap12:address location="http://localhost:8080/WSChamado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>